.destinations {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.destination-filter {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.continent-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.continent-section select {
  padding: 0.5rem 1rem;
  background-color: white;
  border: 1px solid var(--secondary);
}

.activity-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.filter-btn {
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  cursor: pointer;
}

.selected {
  background-color: var(--primary);
  color: var(--on-color);
}

.destination-filter span {
  font-size: 2rem;
  cursor: pointer;
}

#destinations-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

.destination-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  overflow: hidden;
}

.destination-card::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: var(--primary);
  transition: width 0.3s ease;
}

.destination-card:hover::after {
  width: 100%;
}

.destination-card img {
  height: 400px;
  object-fit: cover;
  border-radius: 2px;
  width: 100%;
}

.destination-card .text-btn {
  margin-top: auto;
}

@media screen and (min-width: 900px) {
  #destinations-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    row-gap: 4rem;
  }
}
